.action-button {
    display: inline-block;
    border: 2px solid var(--color-foreground);
    color: var(--color-foreground);
    display: inline-block;
    font-weight: bold;
    margin-inline: auto;
    max-width: 240px;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
        border-color: var(--color-primary);
        color: var(--color-primary);
        outline: 1px solid var(--color-primary);
        outline-offset: -3px;
    }
}