footer[role="contentinfo"] {
    --s1: 2rem;
    border-top: var(--border-thin) solid;
    text-align: center;

    h2 {
        font-size: var(--size-step-2);
    }

    ul {
        padding-inline-start: 0;
    }

    .social {
        display: flex;
        gap: 1em;
        justify-content: center;

        a {
            display: inline-block;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    .copyleft {
        font-size: var(--size-step--1);
    }
}