.header {
    padding-block-end: 4rem;

    &__dates {
        font-size: var(--size-step-2);
    }

}

.navigation {
    --sidebar-width: 20ch;
    --min-content-width: 62.5%;

    display: flex;
    align-items: center;
    gap: 2em;

    .logo {
        align-items: center;
        display: flex;
        margin-right: auto;

        span {
            display: flex;
            max-width: 200px;

            svg {
                width: 100%;
            }
        }
    }

    #main-nav {
        ul {
            padding-inline-start: 0;
        }
    }
}

#mobile-menu {
    display: none;
    color: currentColor;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    #mobile-menu {
        background: linear-gradient(to bottom,
                var(--color-background), var(--color-background) 10%,
                var(--color-foreground) 10%, var(--color-foreground) 20%,
                var(--color-background) 20%, var(--color-background) 45%,
                var(--color-foreground) 45%, var(--color-foreground) 55%,
                var(--color-background) 55%, var(--color-background) 80%,
                var(--color-foreground) 80%, var(--color-foreground) 90%,
                var(--color-background) 90%, var(--color-background) 100%,
            );
        border: none;
        display: inline-block;
        height: 40px;
        padding: 0px;
        position: relative;
        width: 40px;

        >span {
            display: none;
            height: 100%;

            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: var(--size-step-2);
        }

        &[aria-expanded="true"] {
            background: none;

            >span {
                display: flex;
            }

            +#main-nav {
                background: var(--color-background);
                display: block;
                position: absolute;
                width: 100vw;
                height: calc(100vh - 4em);
                right: 0;
                top: 4em;
                z-index: 1;

                >ul {
                    flex-direction: column;
                    font-size: var(--size-step-2);                    
                }
            }
        }
    }

    #main-nav {
        display: none;
    }
}

// doesn't work on firefox :( fix in js
body:has(#mobile-menu[aria-expanded="true"]) {
    position: fixed;
}

a#skiplink {
    background-color: var(--color-foreground);
    color: var(--color-background);
    height: 30px;
    left: 50%;
    padding: 0.1rem 0.5rem;
    position: absolute;
    top: -100px;
    transform: translateX(-50%);
    transition: top 300ms ease-in;
    width: auto;
    z-index: 3;
}

a#skiplink:focus {
    top: 0;
}