.home-section {
    --s1: 6rem;
    --space: 5rem;
    border-top: var(--border-thin) solid;

    h2 {
        margin-inline: auto;
        text-align: center;
    }

    &.about {        
        .about-section {
            &__items {            
                --gutter: 3rem;
                // --max-width: 80ch;
                --threshold: 65ch;
                --space: 3rem;

                justify-content: space-between;
            }

            &__item-icon {
                align-items: center;
                border-radius: 50%;
                display: flex;
                height: 150px;
                justify-content: center;
                width: 150px;
                background-color: var(--color-primary);
            }

            &__item {
                width: 15ch;
    
                > * {
                    margin-inline: auto;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }


 
    }

    &.latest-news {
        .latest-posts {
            --s1: 2rem;
            --threshold: 50rem;
            padding-inline: 0;
        }
    }
    
    &.last-edition {
        .last-edition__data {
            --s1: 2rem;
            --threshold: 80ch;
            --max-width: 95ch;
            text-align: center;

            h3 {
                font-size: var(--size-step-3);

                span {
                    display: block;
                    font-size: var(--size-step-0);
                    font-weight: 400;
                }
            }
        }
    }

    &.media {
        --s1: 3rem !important;
    }

}

@media screen and (max-width: 540px) {
    .home-section {
        --s1: 3rem;

        &.about-section {
            --gutter: 5rem;
        }

        &.latest-posts {
            --gutter: 3rem;
        }
    }
}