.post-card {

    &__item {
        --s1: 1rem;
        border: 1px solid var(--color-foreground);
        border-radius: 4px;
        height: 100%;
        margin-inline: auto;
        // max-width: 27rem;
        // min-height: 24rem;
        overflow: hidden;
        position: relative;
    }

    &__image {
        --w: 3;
        --h: 1;
        background-color: var(--color-primary);
    }

    &__title {
        font-size: var(--size-step-1);

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
            }
        }
    }
}