.speaker-card {
    --s1: 1rem;
    border: 1px solid var(--color-foreground);
    border-radius: 4px;
    height: 100%;
    margin-inline: auto;
    // max-width: 27rem;
    // min-height: 24rem;
    overflow: hidden;
    position: relative;

    &:hover .tint {
        background-color: #ffffff00;
    }

    &__link {
        display: block;
        height: 100%;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            .tint {
                background-color: #ffffff00;
            }
            color: var(--color-primary);
            text-decoration: underline;
        }
    }

    &__image {
        --w: 1;
        --h: 1;
        background-color: var(--color-background);
        border-bottom: 1px solid var(--color-foreground);
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        font-size: var(--size-step-2);
        flex-basis: 2em;
    }

    &__topic {
        font-size: var(--size-step-1);
        font-weight: normal;
    }
}