.theme-toggle {
    position: relative;
    display: inline-block;
    inline-size: 50px;
    block-size: 22px;

    > span {
        display: block;
        opacity: 0;
        inline-size: 0;
        block-size: 0;
        overflow: hidden;
    }

    input {
        opacity: 0;
        inline-size: 0;
        block-size: 0;
    }

    input+div {
        inset: 0;
        position: absolute;
    }

    .slider {
        background-color: #070707;
        border-radius: 22px;
        border: none;
        cursor: pointer;
        inset: 0;
        position: absolute;
        -webkit-transition: .2s;
        transition: .2s;

        &::before {
            border-radius: 50%;
            content: "";
            block-size: 16px;
            inline-size: 16px;
            inset-inline-start: 4px;
            inset-inline-end: unset;
            inset-block-end: 3px;
            position: absolute;
            background-color: white;
            -webkit-transition: .2s;
            transition: .2s;
        }
    }

    input:checked+div>.slider {
        background-color: #fafafa;

        &::before {
            background-color: #070707;
        }
    }

    input:focus+div {
        box-shadow: 0 0 1px #070707;
        outline: 2px solid var(--color-primary);
        outline-offset: 1px;
    }

    input:checked+div>.slider:before {
        inset-inline-start: calc(100% - 16px - 4px);
        inset-inline-end: 4px;
    }

}