<svg
    version="1.0"
    xmlns="http://www.w3.org/2000/svg"
    width="538.000000pt"
    height="414.000000pt"
    viewBox="0 0 538.000000 414.000000"
    aria-labelledby="presentation-icon-title"
    preserveAspectRatio="xMidYMid meet">
    <title id="presentation-icon-title">Let the world know how awesome FLOSS is</title>
    <g transform="translate(0.000000,414.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
        <path d="M2295 3500 l-390 -239 -617 0 -618 -1 0 -50 0 -50 95 0 95 0 0 -995 0 -995 81 0 c61 0 80 -3 76 -12 -90 -199 -107 -283
            -107 -528 l0 -190 916 0 916 0 -4 218 c-4 200 -7 224 -31 305 -15 48 -40 114 -56 147 l-28 60 953 0 954 0 0 995 0 995 95 0
            95 0 0 50 0 50 -616 0 -616 0 -394 240 c-218 132 -398 240 -402 239 -4 0 -182 -108 -397 -239z m697 -57 l293 -178 -298 -3
            c-163 -1 -429 -1 -590 0 l-293 3 290 177 c160 97 294 177 298 177 4 1 139 -79 300 -176z m1438 -1228 l0 -945 -935 0 -935 0
            -72 76 c-118 124 -270 213 -444 260 -107 29 -352 27 -459 -4 -167 -48 -308 -135 -433 -266 l-64 -66 -64 0 -64 0 0 945 0 945
            1735 0 1735 0 0 -945z"/>
        <path d="M1731 2744 c-143 -31 -256 -120 -319 -252 -66 -139 -55 -312 27 -440 162 -249 504 -284 711 -73 88 91 129 193 130 323 0
            124 -49 236 -142 325 -66 62 -138 100 -227 119 -80 17 -97 16 -180 -2z"/>
        <path d="M3174 2626 c-3 -8 -4 -31 -2 -52 l3 -39 473 -3 472 -2 0 55 0 55 -470 0 c-393 0 -472 -2 -476 -14z"/>
        <path d="M2710 2240 l0 -50 705 0 705 0 0 50 0 50 -705 0 -705 0 0 -50z"/>
        <path d="M2710 1895 l0 -55 705 0 705 0 0 55 0 55 -705 0 -705 0 0 -55z"/>
    </g>
</svg>