<svg
    version="1.0"
    xmlns="http://www.w3.org/2000/svg"
    width="538.000000pt"
    height="414.000000pt"
    viewBox="0 0 538.000000 414.000000"
    aria-labelledby="workshop-icon-title"
    preserveAspectRatio="xMidYMid meet">
    <title id="workshop-icon-title">Share your skills or learn something new in a workshop session</title>
    <g transform="translate(0.000000,414.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
        <path d="M2365 3763 c-388 -32 -738 -186 -1010 -445 -230 -218 -384 -492 -461 -823 -27 -112 -28 -134 -28 -335 0 -185 3 -229 22
            -317 39 -179 118 -383 196 -509 l25 -40 -35 -50 c-48 -67 -108 -194 -135 -284 -19 -65 -23 -106 -26 -297 l-5 -223 916 0 916
            0 0 65 c0 62 1 65 28 71 91 20 225 60 289 85 429 170 770 523 922 952 17 49 31 90 31 92 0 5 -62 25 -80 25 -13 0 -26 -24 -49
            -88 -163 -458 -562 -822 -1029 -942 -116 -29 -112 -31 -112 44 0 35 -6 97 -14 138 -68 354 -327 629 -682 724 -107 29 -352 27
            -457 -4 -141 -41 -259 -104 -360 -192 l-46 -41 -25 43 c-72 124 -131 282 -167 448 -33 149 -33 448 -1 593 104 469 393 846
            807 1051 220 109 422 156 670 156 137 0 331 -24 396 -49 24 -9 27 -7 41 39 l16 49 -32 10 c-60 19 -182 40 -291 51 -107 10
            -146 10 -230 3z"/>
        <path d="M3711 3164 c-41 -19 -77 -37 -80 -39 -2 -3 7 -32 21 -64 l26 -59 -44 -43 c-24 -23 -56 -67 -71 -96 l-28 -54 -66 6 -66 7
            -6 -34 c-3 -18 -9 -63 -13 -100 l-6 -68 35 0 c84 0 94 -6 116 -79 11 -37 34 -86 51 -110 l31 -42 -32 -42 c-18 -23 -37 -47
            -41 -54 -6 -8 15 -29 66 -67 42 -31 79 -56 83 -56 5 0 18 15 31 33 52 74 44 70 103 53 29 -9 83 -16 121 -16 l69 0 25 -59 26
            -59 81 35 c45 20 86 39 90 43 4 4 -3 33 -18 65 l-25 58 50 52 c27 29 59 73 71 98 l22 46 67 -6 67 -6 11 94 c5 52 9 96 7 97
            -2 2 -23 6 -47 8 -70 8 -88 14 -88 27 0 32 -32 117 -60 160 l-31 46 39 53 40 52 -79 59 c-44 33 -81 58 -82 56 -2 -2 -18 -24
            -37 -49 -19 -25 -35 -47 -36 -48 -1 -2 -37 4 -79 13 -47 11 -94 15 -121 11 l-45 -6 -26 60 c-14 33 -31 60 -37 59 -6 0 -45
            -16 -85 -35z m317 -303 c44 -23 83 -63 107 -110 26 -52 18 -156 -18 -209 -40 -61 -106 -96 -181 -96 -131 1 -219 89 -220 220
            0 92 39 151 134 201 38 20 134 16 178 -6z"/>
        <path d="M1731 2744 c-143 -31 -256 -120 -319 -252 -66 -139 -55 -312 27 -440 161 -249 505 -284 711 -73 88 91 129 193 130 323 0
            124 -49 236 -142 325 -66 62 -138 100 -227 119 -80 17 -97 16 -180 -2z"/>
        <path d="M3100 2656 c0 -42 -2 -45 -32 -51 -18 -4 -53 -18 -77 -31 -54 -30 -55 -30 -95 1 l-33 25 -40 -58 -41 -57 38 -27 37 -27
        -14 -53 c-7 -29 -11 -67 -8 -84 5 -28 2 -32 -35 -49 -22 -10 -40 -23 -40 -29 0 -19 43 -116 52 -116 5 0 25 7 45 15 35 15 36
        15 74 -19 21 -19 52 -42 69 -51 31 -16 32 -19 25 -60 -7 -50 -9 -48 87 -59 l47 -6 7 48 c6 47 7 49 51 61 25 6 58 21 73 31 35
        25 36 25 77 -6 39 -29 31 -33 90 50 30 42 32 36 -29 80 -15 10 -16 18 -8 47 6 19 10 57 10 85 0 51 1 52 40 68 22 9 40 20 40
        25 0 5 -12 34 -26 65 -20 45 -30 56 -43 50 -71 -30 -67 -30 -111 10 -22 20 -52 42 -66 48 -20 10 -24 18 -24 58 0 47 0 47 -37
        54 -21 3 -53 6 -70 6 -32 0 -33 -1 -33 -44z m100 -208 c82 -42 113 -149 62 -217 -52 -71 -133 -90 -206 -48 -90 51 -102 171
        -24 244 50 47 103 54 168 21z"/>
    </g>
</svg>