<svg
    version="1.0"
    xmlns="http://www.w3.org/2000/svg"
    width="538.000000pt"
    height="414.000000pt"
    viewBox="0 0 538.000000 414.000000"
    aria-labelledby="infobooth-icon-title"
    preserveAspectRatio="xMidYMid meet">
    <title id="infobooth-icon-title">Promote your work/initiavie or find out about awesome FLOSS projetcs in our info booths</title>
    <g transform="translate(0.000000,414.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
        <path d="M1890 3433 c-214 -23 -386 -106 -540 -262 -108 -110 -161 -194 -212 -341 l-33 -95 -3 -642 -3 -643 -94 0 -95 0 0 -50 0
            -50 175 0 c96 0 175 -2 175 -5 0 -3 -11 -27 -24 -53 -66 -131 -96 -295 -96 -529 l0 -143 921 0 921 0 -5 213 c-5 236 -18 305
            -82 444 l-34 73 905 0 904 0 0 -365 0 -365 50 0 50 0 0 365 0 365 95 0 95 0 0 50 0 50 -95 0 -94 0 -3 628 c-4 616 -4 628 -26
            707 -87 307 -325 541 -637 627 l-80 23 -1050 1 c-577 1 -1066 -1 -1085 -3z m2245 -136 c206 -72 378 -228 466 -423 63 -138 62
            -131 66 -806 l4 -618 -936 0 -937 0 -77 79 c-300 306 -761 369 -1126 153 -48 -28 -117 -84 -175 -139 l-95 -93 -63 0 -63 0 3
            633 3 632 27 80 c88 258 296 453 553 516 65 16 154 18 1170 16 l1100 -2 80 -28z"/>
        <path d="M3625 3031 c-148 -24 -270 -86 -370 -186 -80 -81 -125 -151 -163 -257 -24 -65 -27 -87 -27 -203 0 -117 3 -138 28 -212 119
            -346 492 -529 837 -409 103 36 172 81 255 167 85 89 147 204 170 314 69 328 -125 658 -445 759 -85 27 -210 39 -285 27z m236
            -117 c224 -67 380 -254 404 -484 26 -258 -157 -519 -410 -585 -75 -19 -204 -19 -278 0 -151 39 -294 156 -360 295 -149 314 18
            684 350 775 69 19 228 18 294 -1z"/>
        <path d="M3805 2783 c-51 -13 -71 -52 -44 -87 24 -31 75 -42 123 -26 57 19 68 61 24 97 -16 14 -76 23 -103 16z"/>
        <path d="M3690 2529 c-135 -15 -160 -20 -160 -33 0 -9 16 -11 58 -8 44 3 61 0 71 -11 13 -17 12 -21 -118 -317 -28 -63 -51 -123 -51
            -132 0 -29 46 -51 103 -50 62 1 155 44 218 101 37 33 41 40 27 46 -12 5 -28 -2 -49 -19 -65 -55 -139 -78 -139 -44 0 6 43 109
            96 231 53 121 98 226 101 234 6 15 -35 16 -157 2z"/>
        <path d="M1935 2916 c-183 -58 -305 -205 -329 -397 -9 -70 12 -177 49 -249 33 -65 114 -153 173 -187 96 -57 232 -77 341 -52 160 37
        293 169 336 336 60 230 -77 473 -306 544 -71 22 -202 25 -264 5z"/>
    </g>
</svg>