<?xml version="1.0" encoding="utf-8"?>
<svg
    fill="currentColor"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="200px"
    height="40px"
    x="0px"
    y="0px"
    viewBox="0 0 999.1 204.9"
    style="enable-background:new 0 0 999.1 204.				9;"
    xml:space="preserve">
    <g>
        <path d="M915.9,7.1L911.1,25c-1.5-0.4-3.1-0.7-4.8-0.7c-1.6,0-3.3,0.2-4.8,0.7l-4.8-17.9c3.1-0.8,6.3-1.3,9.6-1.3
            C909.6,5.9,912.8,6.4,915.9,7.1z"/>
        <path d="M250.2,140.7c14,11.2,31.6,19.2,46.2,19.2c15.8,0,22.5-5.1,22.5-14c0-9.4-10-12.4-26.7-19.2l-24.6-10.3
            c-21.2-8.5-39.8-26.4-39.8-55c0-33.7,30.4-61.4,73.5-61.4c22.5,0,47.4,8.5,65.6,26.4l-26.1,32.8C327.4,49.9,315.9,45,301.3,45
            c-12.8,0-20.6,4.5-20.6,13.4c0,9.4,11.2,12.8,29.2,19.8l24,9.4c24.6,9.7,38.6,26.7,38.6,54.1c0,33.4-27.9,63.2-77.2,63.2
            c-24.9,0-53.4-9.1-74.7-28.3L250.2,140.7z"/>
        <path d="M717.6,3.7h-63.2l-60.2,197.5h53.5l9.7-41.9h43.6l-6.2-28.3c-1.5-7.1-7.8-12-15-12h-13l3.3-13.6c4.9-18.8,9.7-42.5,14-62.6
            h1.2c4.9,19.7,39.6,158.6,39.6,158.6h52.7L717.6,3.7z"/>
        <path d="M796.6,3.7h52.2v153.7h74.7v43.8h-127V3.7z"/>
        <path d="M583.3,153.5c-17.7,30.6-50.8,51.1-88.7,51.1c-56.5,0-102.3-45.8-102.3-102.3S438.1,0.1,494.6,0.1
            c37.9,0,70.9,20.6,88.7,51.1L539,76.8c-8.8-15.3-25.4-25.6-44.3-25.6c-28.3,0-51.1,22.9-51.1,51.1s22.9,51.1,51.1,51.1
            c18.9,0,35.5-10.3,44.3-25.6L583.3,153.5z"/>
        <g>
            <path d="M53,102.5c0-24.5,16.6-45.2,39.3-51.2L78.6,0.1C33.3,12.2,0,53.4,0,102.5s33.3,90.4,78.6,102.5l13.7-51.2
                C69.7,147.6,53,127,53,102.5z"/>
            <path d="M212,102.5c0-49.1-33.3-90.4-78.6-102.5l-13.7,51.3c22.6,6,39.3,26.7,39.3,51.2s-16.6,45.2-39.3,51.2l13.7,51.2
                C178.7,192.8,212,151.5,212,102.5z"/>
            <path d="M53,102.5c0-24.5,16.6-45.2,39.3-51.2L78.6,0.1C33.3,12.2,0,53.4,0,102.5s33.3,90.4,78.6,102.5l13.7-51.2
                C69.7,147.6,53,127,53,102.5z"/>
            <path d="M212,102.5c0-49.1-33.3-90.4-78.6-102.5l-13.7,51.3c22.6,6,39.3,26.7,39.3,51.2s-16.6,45.2-39.3,51.2l13.7,51.2
                C178.7,192.8,212,151.5,212,102.5z"/>
            <path d="M53,102.5c0-24.5,16.6-45.2,39.3-51.2L78.6,0.1C33.3,12.2,0,53.4,0,102.5s33.3,90.4,78.6,102.5l13.7-51.2
                C69.7,147.6,53,127,53,102.5z"/>
            <path d="M212,102.5c0-49.1-33.3-90.4-78.6-102.5l-13.7,51.3c22.6,6,39.3,26.7,39.3,51.2s-16.6,45.2-39.3,51.2l13.7,51.2
                C178.7,192.8,212,151.5,212,102.5z"/>
            <path d="M53,102.5c0-24.5,16.6-45.2,39.3-51.2L78.6,0.1C33.3,12.2,0,53.4,0,102.5s33.3,90.4,78.6,102.5l13.7-51.2
                C69.7,147.6,53,127,53,102.5z"/>
            <path d="M212,102.5c0-49.1-33.3-90.4-78.6-102.5l-13.7,51.3c22.6,6,39.3,26.7,39.3,51.2s-16.6,45.2-39.3,51.2l13.7,51.2
            C178.7,192.8,212,151.5,212,102.5z"/>
        </g>
        <path d="M921.5,45.8C932.7,35.5,941,27,941,20.5c0-4.2-2.3-6.1-5.7-6.1c-3.1,0-5.4,2.2-7.6,4.4L921,12c4.8-5.1,9.2-7.5,16.1-7.5
            c9.4,0,16,6,16,15.2c0,7.8-6.9,16.7-13.3,23.3c2.3-0.3,5.7-0.6,7.8-0.6h7.8V53h-33.7V45.8z"/>
        <path d="M964.5,47.2l5.7-7.9c2.9,2.6,6.2,4.4,9.5,4.4c4.1,0,6.7-1.5,6.7-4.7c0-3.7-1.8-5.9-11.6-5.9v-8.8c7.8,0,10.1-2.1,10.1-5.6
        c0-3-1.7-4.5-4.8-4.5c-3.1,0-5.3,1.3-8.2,3.8l-6.3-7.6c4.5-3.8,9.4-6,15.1-6c10.2,0,16.8,4.8,16.8,13.4c0,4.5-2.4,8.1-7.5,10.3v0.3
        c5.3,1.6,8.9,5.4,8.9,11.4c0,8.9-8.3,13.9-18,13.9C973.5,53.8,968,51.3,964.5,47.2z"/>
    </g>
</svg>