<svg
    fill="currentColor"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="30px"
    height="30px"
    x="0px"
    y="0px"
    viewBox="0 0 1000 1000"
    enable-background="new 0 0 1000 1000"
    xml:space="preserve">
    <metadata>
        Svg Vector Icons : http://www.onlinewebfonts.com/icon
    </metadata>
    <g>
        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"><path d="M1280.4,4989C937.4,4899,686.4,4617.3,629,4261c-59.4-362.1,132.2-739.6,456-910.1c159-80.5,283.5-109.2,490.5-109.2c381.3,0,961.8-69,1389-164.8c992.4-222.2,1960-697.4,2755.1-1352.6c260.6-214.6,730-689.7,933-944.5c913.9-1141.9,1408.2-2473.4,1459.9-3927.6c7.7-178.2,21.1-367.9,32.6-421.5c93.9-444.5,547.9-754.9,996.3-682.1c388.9,61.3,687.8,362.1,749.1,749.1c26.8,174.3-5.8,816.2-63.2,1243.4c-431.1,3207.2-2667,5883.8-5747.7,6876.2c-670.6,216.5-1339.2,341-2059.6,387C1598.4,5031.2,1427.9,5027.4,1280.4,4989z"/><path d="M1234.4,1561.5c-314.2-113-548-385.1-605.4-705C563.8,494.3,753.5,107.3,1083-67.1c159-84.3,229.9-99.6,565.2-118.8c162.9-9.6,383.2-36.4,490.5-57.5c1126.6-231.8,2057.7-1065.2,2406.4-2157.3c92-285.5,126.5-482.8,147.5-833.4c21.1-331.5,34.5-400.4,120.7-563.3c137.9-260.6,390.8-427.2,699.3-463.6c348.7-38.3,730,185.8,890.9,523l61.3,130.3v383.2c-1.9,404.3-24.9,615-115,996.3C5945.6-511.5,4633.2,883.2,2943.4,1390.9c-446.4,134.1-766.4,183.9-1239.6,195.4C1378.1,1594,1318.7,1590.2,1234.4,1561.5z"/><path d="M1291.9-1854.6c-335.3-67.1-655.2-262.5-871.7-534.6c-620.8-779.8-300.8-1944.6,632.3-2293.3c387-145.6,772.1-130.3,1147.6,42.1c515.4,237.6,844.9,756.8,844.9,1329.6c0,417.7-137.9,751-431.1,1044.2c-216.5,216.5-444.5,342.9-733.8,402.3C1744-1833.5,1418.3-1829.7,1291.9-1854.6z"/>
        </g>
    </g>
</svg>