.page-content {
    padding-block-end: 10rem;
}

.media-page {
    h1, h2 {
        text-align: center;
    }
}

.community-partners {
    &.switcher {
        --threshold: 25rem;
        --gutter: 5rem;

        li {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    &.grid {
        gap: 2rem;
        li {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}

.sponsors {
    &.switcher {
        --threshold: 20rem;
        --gutter: 5rem;

        li {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}

[aria-labelledby="media-partners"] {

    li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [alt="Courrier des balkans"] {
        width: 300px;
        background: #fafafa;
        padding: 5px 10px; 
    }
}
