<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/styles/main.css" />
    <meta
      name="description"
      content="OSCAL, the 1st conference about FLOSS, open knowledge and free culture in Albania"
    />
    <meta
      name="keywords"
      content="OSCAL, FLOSS, open source, free software, Tirana, Albania"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/oscal-favicon.ico"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@OSCALconf" />
    <meta name="twitter:title" content="{{title}}" />
    <meta
      name="twitter:description"
      content="On 2nd &amp; 3rd of September 2023, the 8th edition of OSCAL is returning to Tirana."
    />
    <meta
      name="twitter:image"
      content="https://oscal.openlabs.cc/assets/images/KV-homepage.png"
    />
    <meta property="og:site_name" content="OSCAL 2023" />
    <meta property="og:title" content="{{title}}" />
    <meta
      property="og:description"
      name="description"
      content="On 2nd &amp; 3rd of September 2023, the 8th edition of OSCAL is returning to Tirana."
    />
    <meta
      property="og:image"
      content="https://oscal.openlabs.cc/assets/images/KV-homepage.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1172" />
    <meta property="og:image:height" content="585" />
    <meta property="og:url" content="https://oscal.openlabs.cc" />
    {% block pageStyles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="/scripts/eventListeners.js"></script>
  </body>
</html>
