{% extends "layouts/base.html" %}
<!--  -->
{% block content %}
<!--  -->
<a href="#site-title" id="skiplink"> Skip navigation </a>
<!--  -->
{% include "partials/banner.html" %}
<!--  -->
<main role="main" id="main" tabindex="-1" style="--s1: 0">{{ content | safe }}</main>
<!--  -->
{% include "partials/footer.html" %}
<!--  -->
{% endblock %}
