{% extends "layouts/base.html" %}
<!--  -->
{% block content %}
<!--  -->
<a href="#main" id="skiplink"> Skip navigation </a>
<!--  -->
<div class="box">{% include "partials/navigation.html" %}</div>
<!--  -->
<main role="main" id="main" tabindex="-1" style="--s1: 0">
  <div class="box" style="--s1: 2em">{{ content | safe }}</div>
</main>
<!--  -->
{% include "partials/footer.html" %}
<!--  -->
{% endblock %}
