{% extends "layouts/base.html" %}
<!--  -->
{% block content %}
<!--  -->
<a href="#main" id="skiplink">Skip navigation</a>
<!--  -->
<div class="box">{% include "partials/navigation.html" %}</div>
<main role="main" id="main" tabindex="-1" style="--s1: 0">
  <header role="banner" class="frame" style="--w: 3; --h: 1">
    <img
      sizes="100vw"
      srcset="{{ srcset }}"
      src="{{ cover }}"
      alt="{{ imageAlt }}"
      style="background-color: var(--color-primary)"
    />
    <div class="tint"></div>
  </header>
  <article
    class="page-content center box stack"
    style="--s1: 2em; --space: 4rem; --max-width: 70ch"
  >
    <header>
      <p>{{ date | formatDate }} |</p>
      <h1 class="title">{{ title }}</h1>
    </header>
    <!-- <div class="cluster">
      {% for tag in tags %}
      <span class="tag">#{{ tag }}</span>
      {% endfor %} 
    </div>-->
    <section>
      <div class="stack" style="--space: 1rem">{{ content | safe }}</div>
    </section>
  </article>
</main>
{% include "partials/footer.html" %} {% endblock %}
