/* box primitive styles */
.box {
    /* ↓ Padding set to the first point on the modular scale */
    padding: var(--s1);
    /* ↓ Assumes you have a --border-thin var */
    // border: var(--border-thin) solid;
    /* ↓ Always apply the transparent outline, for high contrast mode */
    outline: var(--border-thin) transparent;
    outline-offset: calc(var(--border-thin) * -1);
    /* ↓ The light and dark color vars */
    // --color-background: #fff;
    // --color-foreground: #000;
    // color: var(--color-foreground);
    // background-color: var(--color-background);

    * {
        /* ↓ Force colors to inherit from the parent and honor inversion (below) */
        color: inherit;
    }

    .invert {
        /* ↓ The color vars inverted */
        color: var(--color-background);
        background-color: var(--color-foreground);
    }
}