/* center primitive styles */
.center {
    --max-width: 70ch;
    /* ↓ Remove padding from the width calculation */
    box-sizing: content-box;
    /* ↓ The maximum width is the maximum measure */
    max-width: var(--max-width, 70ch);
    /* ↓ Only affect horizontal margins */
    margin-left: auto;
    margin-right: auto;
    /* ↓ Apply the minimum horizontal space */
    padding-left: var(--s1);
    padding-right: var(--s1);
}