/* cluster primitive styles */
.cluster {
    --justify: flex-start;
    /* ↓ Set the Flexbox context */
    display: flex;
    /* ↓ Enable wrapping */
    flex-wrap: wrap;
    /* ↓ Set the space/gap */
    gap: var(--space, 1rem);
    /* ↓ Choose your justification (flex-start is default) */
    justify-content: var(--justify);
    /* ↓ Choose your alignment (flex-start is default) */
    align-items: center;
    
}