.cover {
    --min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--s1);
    min-height: var(--min-height);

    > * {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    > .principal {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }


    > :first-child:not(.principal) {
        margin-top: 0;
    }

    > :last-child:not(.principal) {
        margin-bottom: 0;
    }
}