.frame {
    --w: 16; /* width */
    --h: 9; /* height */
    // padding-bottom: calc(var(--n) / var(--d) * 100%);
    position: relative;
    aspect-ratio: var(--w) / var(--h);
    // aspect-ratio: attr(width) / attr(height);

    * {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > img,
    > video,
    > iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}