.icon {
    height: 0.75em;
    height: 1cap;
    width: 0.75em;
    width: 1cap;
    // to match lowercase letter:
    // width: 1ex;
    // height: 1ex;
    --icon-space: 0.5em;
    margin-inline: var(--icon-space);
}

.with-icon {
    display: inline-flex;
    align-items: baseline;
    .icon {
        margin-inline: 0 var(--icon-space, 0.5em);
    }
}