/* sidebar primitive styles */
.with-sidebar {
    --sidebar-width: 20ch;
    --min-content-width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* ↓ The default value is the first point on the modular scale */
    gap: var(--gutter, var(--s1));

    > :first-child {
        /* ↓ The width when the sidebar _is_ a sidebar */
        flex-basis: var(--sidebar-width); 
        flex-grow: 1;
    }

    > :last-child { 
        /* ↓ Grow from nothing */
        flex-basis: 0;
        flex-grow: 999;
        /* ↓ Wrap when the elements are of equal width */
        min-width: var(--min-content-width);
    } 
}
