/* stack primitive styles */
.stack {
    /* ↓ The flex context */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > * {
        /* ↓ Any extant vertical margins are removed */
        margin-top: 0;
        margin-bottom: 0;
    }

    > * + * {
        /* ↓ Top margin is only applied to successive elements */
        margin-top: var(--space, 2.5rem);
    }
}
