{% extends "partials/home-section.html" %}
<!--  -->
{% set className = "about" %}
<!--  -->
{% block content %}
<h2>About OSCAL</h2>
<div class="switcher about-section__items">
  <div class="about-section__item stack">
    <div class="about-section__item-icon">
      {% renderFile '/images/Icon-Presentation-Black.svg' | svgUrl %}
    </div>
    <h3>Presentations</h3>
  </div>
  <div class="about-section__item stack">
    <div class="about-section__item-icon">
      {% renderFile '/images/Icon-Workshop-Black.svg' | svgUrl %}
    </div>
    <h3>Workshops</h3>
  </div>
  <div class="about-section__item stack">
    <div class="about-section__item-icon">
      {% renderFile '/images/Icon-Info-booth-Black.svg' | svgUrl %}
    </div>
    <h3>Info booths</h3>
  </div>
</div>

<a href="/about/" class="action-button">Find out more</a>
{% endblock %}
