---
title: "Community partners"
---

{% extends "partials/home-section.html" %}
<!--  -->
{% block content %}
<h2 id="community-partners">Community partners</h2>

<ul
  class="media-partners community-partners center"
  role="list"
  aria-labelledby="community-partners"
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    --max-width: 80ch;
  "
>
  {% for community in site.communityPartners %}
  <li>
    <a href="{{ community.url }}" target="_blank">
      <img
        src="{{ community.imageSrc }}"
        alt="{{ community.label }}"
        width="144"
        data-src="{{ community.imageSrc }}, {{ community.imageSrcDark }}"
        loading="lazy"
      />
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
