{% extends "partials/home-section.html" %}
<!--  -->
{% set className = "last-edition" %}
<!--  -->
{% block content %}
<h2>Last edition</h2>
<div class="switcher center last-edition__data">
  <div>
    <h3>
      300+
      <span>Attendees from everywhere</span>
    </h3>
  </div>
  <div>
    <h3>
      48+
      <span>Hours of FLOSS technologies</span>
    </h3>
  </div>
  <div>
    <h3>
      70+
      <span>Speakers from around the world</span>
    </h3>
  </div>
  <div>
    <h3>
      5+
      <span>Parallel tracks to select from</span>
    </h3>
  </div>
</div>
{% endblock %}
