---
title: "Latest news"
---

{% extends "partials/home-section.html" %}
<!--  -->
{% set className = "latest-news" %}
<!--  -->
{% block content %}
<h2 id="latest-news">Latest news</h2>

<ul class="latest-posts switcher" role="list" aria-labelledby="latest-news">
  {% for post in collections.posts | reverse %} {% if loop.index < 4 %}
  <li>
    {% include "partials/post-card.html" %}
  </li>
  {% endif %} {% endfor %}
</ul>
<a href="/blog" class="action-button">See all posts</a>
{% endblock %}
