---
title: "Media partners"
---

{% set className = "media" %}
<!--  -->
{% extends "partials/home-section.html" %}
<!--  -->
{% block content %}
<h2 id="media-partners">Media partners</h2>

<ul
  class="media-partners center switcher"
  role="list"
  aria-labelledby="media-partners"
  style="--threshold: 0; --gutter: 5rem; --s1: 1rem"
>
  {% for media in site.mediaPartners %}
  <li>
    <a href="{{ media.url }}" target="_blank">
      <img
        src="{{ media.imageSrc }}"
        alt="{{ media.label }}"
        width="150"
        data-src="{{ media.imageSrc }}, {{ media.imageSrcDark }}"
        loading="lazy"
      />
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
