---
title: "Sponsors"
---

{% extends "partials/home-section.html" %}
<!--  -->
{% block content %}
<h2 id="sponsors">Sponsors</h2>

<div
  class="media-partners sponsors center stack"
  style="text-align: center; --max-width: 200ch; margin-inline: -2em"
>
  <h3
    id="gold-sponsors"
    style="font-size: var(--size-step-3); max-width: unset"
  >
    Gold sponsors
  </h3>
  <div
    role="list"
    aria-labelledby="gold-sponsors"
    class="switcher"
    style="display: flex; align-items: center; --gutter: 3em; --space: 1em"
  >
    <div role="listitem" style="display: flex; justify-content: center">
      <a href="{{ site.sponsors[0].url }}" target="_blank">
        <img
          src="{{ site.sponsors[0].imageSrc }}"
          alt="{{ site.sponsors[0].label }}"
          width="400"
          height="400"
          data-src="{{ site.sponsors[0].imageSrc }}, {{ site.sponsors[0].imageSrcDark }}"
          loading="lazy"
        />
      </a>
    </div>
    <div role="listitem" style="display: flex; justify-content: center">
      <a href="{{ site.sponsors[1].url }}" target="_blank">
        <img
          src="{{ site.sponsors[1].imageSrc }}"
          alt="{{ site.sponsors[1].label }}"
          width="400"
          height="400"
          data-src="{{ site.sponsors[1].imageSrc }}, {{ site.sponsors[1].imageSrcDark }}"
          loading="lazy"
        />
      </a>
    </div>
  </div>
  <br />
  <h3 id="bronze-sponsors" style="font-size: var(--size-step-3)">
    Bronze sponsors
  </h3>
  <div role="list" aria-labelledby="bronze-sponsors">
    <div
      role="listitem"
      style="
        display: flex;
        justify-content: center;
        padding-block: 3em;
        --space: 1em;
      "
    >
      <a href="{{ site.sponsors[2].url }}" target="_blank">
        <img
          src="{{ site.sponsors[2].imageSrc }}"
          alt="{{ site.sponsors[2].label }}"
          width="250"
          height="200"
          data-src="{{ site.sponsors[2].imageSrc }}, {{ site.sponsors[2].imageSrcDark }}"
          loading="lazy"
        />
      </a>
    </div>
  </div>
</div>
{% endblock %}
