---
title: "OSCAL News"
summary: "A feed with the latest updates from my OSCAL"
permalink: "/feed.xml"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" type="application/atom+xml">
  <title>{{ title }}</title>
  <link href="{{ site.url }}{{ permalink }}" rel="self" />
  <link href="{{ site.url }}/" />
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.authorName }}</name>
    <email>{{ site.authorEmail }}</email>
  </author>
  {% for post in collections.posts | reverse %} {% set absolutePostUrl %}{{
  site.url }}{{ post.url | url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[ {{ post.content | safe }} ]]></content>
  </entry>
  {% endfor %}
</feed>
