---
layout: "layouts/pagewide.html"
title: "OSCAL - Speakers"
---

<h1 id="all-speakers">Speakers</h1>

<p></p>

<ul
  class="all-posts grid"
  role="list"
  aria-labelledby="all-speakers"
  style="--grid-gap: 2em; --minimum: 22ch"
>
  {% for speaker in speakers | sort(false, false, 'name') %}
  <!--  -->
  {% if speaker.image %}
  <li>{% include "partials/speaker-card.html" %}</li>
  {% endif %}
  <!--  -->
  {% endfor %}
</ul>
