---
layout: "layouts/pagewide.html"
title: "Venue"
---

<section class="stack" style="margin-inline: -2em; --space: 3em">
  <div class="center stack" style="--space: 3em">
    <h1>Venue: The Embassy of Peace</h1>

    <p>
      <a href="https://ambasadaepaqes.al/" target="_blank"
        >The Embassy of Peace</a
      >, built in 2022, is Tirana's newest place for conferences and events. The
      rooms, ADA, EDWARD and AARON will host 36 speakers in 25 talks, 13
      workshops and 8 infobooths. At the venue, during the conference days,
      you'll have the chance to visit info booths, meet the speakers and other
      attendees, and get a lot of inspiration and positive energy from the
      atmosphere of OSCAL
    </p>
  </div>

  <div class="frame" style="--w: 3; --h: 1">
    <img
      alt="Image of the conference room at the venue"
      src="/assets/images/venue.jpg"
      srcset="
        /assets/images/venue-mobile.webp  600w,
        /assets/images/venue.webp        1600w
      "
      sizes="100w"
    />
    <div class="tint"></div>
  </div>

  <div class="center stack" style="--space: 3em">
    <p>The location addess is:</p>

    <p>
      <a
        target="_blank"
        href="https://www.openstreetmap.org/?mlat=41.31040&amp;mlon=19.83731#map=19/41.31040/19.83731"
      >
        Ambasada e Paqes - Konferenca dhe Evente, Rruga Kuvajt, Njësia Bashkiake
        Nr. 2, Tirana, Tirana Municipalitz, Tirana County, Central Albania,
        1044, Albania</a
      >
    </p>

    <p>Below you can find the location on the map</p>
  </div>

  <div style="padding-inline: 4em">
    <div class="frame" style="--w: 3; --h: 1">
      <iframe
        width="425"
        height="350"
        src="https://www.openstreetmap.org/export/embed.html?bbox=19.835544526577%2C41.30948005351676%2C19.839085042476654%2C41.311319498425156&amp;layer=mapnik&amp;marker=41.31039978245838%2C19.837314784526825"
        style="border: 1px solid black"
      ></iframe
      ><br />
    </div>
    <small
      ><a
        target="_blank"
        href="https://www.openstreetmap.org/?mlat=41.31040&amp;mlon=19.83731#map=19/41.31040/19.83731"
        >View Larger Map</a
      ></small
    >
  </div>

  <aside class="box center stack">
    <p>
      Below you can find a video of the road to the venue from the center of
      Tirana
    </p>
    <iframe
      class="frame"
      style="--w: 16; --h: 9"
      title="OSCAL23: Going to the venue"
      src="https://peertube.linuxrocks.online/videos/embed/1ef28727-9975-46d9-98e3-3a1c27fabe4e"
      frameborder="0"
      allowfullscreen=""
      sandbox="allow-same-origin allow-scripts allow-popups"
    ></iframe>
  </aside>
</section>
