<header class="cover header" style="--min-height: 100vh">
  {% include "partials/navigation.html" %}

  <div class="principal center header__title stack" style="--max-width: 90ch">
    <div
      class="frame"
      style="--w: 4; --h: 2; background-color: var(--color-primary)"
    >
      <img
        src="/assets/images/Header.png"
        alt="A 4 by 2 grid with elements from this year's visual identity"
        height="504"
        width="1004"
        fetchpriority="high"
      />
    </div>
    <h1 id="site-title" tabindex="-1">{{site.title}}</h1>
    <p class="header__dates">{{ site.dates }}, {{ site.city }}</p>
    <div class="center switcher" style="--threshold: 25em">
      <a
        href="https://cfp.openlabs.cc/oscal2023/schedule/#"
        class="action-button"
        target="_blank"
        style="width: 15em"
        >Agenda</a
      >
      <a
        href="https://events.openlabs.cc/ol/oscal2023/"
        target="_blank"
        class="action-button"
        style="width: 15em"
        >Grab your Ticket</a
      >
    </div>
  </div>
</header>
