<footer class="box" role="contentinfo">
  <div class="switcher">
    <div>
      <h2 id="open-labs-contact">Additional information</h2>
      <ul role="list" aria-labelledby="open-labs-contact" class="stack" style="--space: 0.2em">
        <li><a href="https://openlabs.cc" target="_blank">openlabs.cc</a></li>
        <li><a href="mailto:oscal@openlabs.cc">oscal(at)openlabs.cc</a></li>
        <li><a href="/coc/">Code of Conduct</a></li>
      </ul>
    </div>
    <div>
      <h2 id="social-links-title">Stay in touch</h2>
      <ul role="list" class="social" aria-labelledby="social-links-title">
        {% for social in site.social %}
        <li>
          <a href="{{ social.href }}" target="_blank" aria-label="{{ social.name }}" {% if social.name == 'Mastodon' %} rel="me" {% endif %}  >
            {% renderFile social.logo | svgUrl %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <p class="copyleft">
    🄯 2023 Open Labs Albania. All site content, unless otherwise noted, is 
    licensed under an <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"
    > CC BY-SA 4.0</a
    > license. Source code can be found in this <a href="{{ site.sourceCode }}" target="_blank">repo</a>.
  </p>
</footer>
