<div class="navigation">
  <a href="/" class="logo" aria-label="OSCAL 23 logo, homepage">
    <span>
      {% renderFile '/images/OSCAL-Logo.svg' | svgUrl %}
    </span>
  </a>
  <label class="theme-toggle" style="display: none">
    <span>Toggle website theme</span>
    <input id="theme-toggle" type="checkbox"/>
    <div>
      <span class="slider" title="Toggle theme"></span>
    </div>
  </label>
  
  <button id="mobile-menu" type="button" aria-expanded="false" aria-label="Toggle navigation menu" aria-controls="#main-nav">
    <span>
      {% renderFile '/images/close.svg' | svgUrl %}
    </span>
  </button>
  <nav id="main-nav" class="navigation__menu" role="navigation" aria-label="Main">
    <ul class="cluster" style="--justify: flex-end" role="list">
      {% for item in site.navigation %} 
      <li>
        <a {% if page.url == item.href %} aria-current="page"{% endif %}
        href="{{ item.href }}" {% if item.target %} target="_blank" {% endif %}>{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
