<article class="post-card__item">
  <div class="frame post-card__image">
    <img
      srcset="{{ post.data.srcset }}"
      src="{{ post.data.cover }}"
      alt="{{ post.data.imageAlt }}"
    />
    <div class="tint"></div>
  </div>
  <div class="box">
    <span>{{ post.data.date | formatDate }} |</span>
    {% if page.url == '/' %}
    <h3 class="post-card__title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h3>
    {% endif %} {% if page.url == '/blog/' %}
    <h2 class="post-card__title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    {% endif %}
  </div>
</article>
