<article class="speaker-card">
  <a href="{{ speaker.url }}" class="speaker-card__link" target="_blank">
    <div class="frame speaker-card__image">
      {% if loop.index > 12 %}
      <img src="{{ speaker.image }}" alt="{{ speaker.name }}" loading="lazy"/>
      {% else %}
      <img src="{{ speaker.image }}" alt="{{ speaker.name }}" />
      {% endif %}
      <div class="tint"></div>
    </div>
    <div class="box stack speaker-card__info">
      <h2 class="speaker-card__name">{{ speaker.name }}</h2>
      <h3 class="speaker-card__topic">
        {{ speaker.topic }}
      </h3>
    </div>
  </a>
</article>
