:root {
    --color-foreground: #070707;
    --color-background: #fafafa;

    --color-primary: #e9292d;
    // --color-secondary: #fff56e;
    /* initial type scale with https://typescale.com/, "Major Third" */
    /* check out https://utopia.fyi/,  */
    /* "Major Third" scale for small view ports, but a larger “Perfect Fourth” scale on larger viewports.  */
    // --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    // --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
    // --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
    // --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
    // --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.5n^5 5rem);
    --size-step--1: clamp(0.80rem, calc(0.77rem + 0.17vw), 0.90rem);
    --size-step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --size-step-1: clamp(1.25rem, calc(1.20rem + 0.27vw), 1.41rem);
    --size-step-2: clamp(1.56rem, calc(1.49rem + 0.34vw), 1.76rem);
    --size-step-3: clamp(1.95rem, calc(1.87rem + 0.42vw), 2.20rem);
    --size-step-4: clamp(2.44rem, calc(2.33rem + 0.53vw), 2.75rem);

    --space: 1.5rem;
    --s1: 1em;
    --border-thin: 2px;

    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: #fafafa;
        --color-background: #070707;
    }
}

::selection {
    background-color: var(--color-primary);
    color: white;
}

*:focus-visible {
    outline: 2px solid var(--color-primary);
}

:target {
    scroll-margin-block-start: 2rem;
}

:focus {
    scroll-margin-block-start: 2rem;
    scroll-margin-block-end: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: var(--color-background);
    color: var(--color-foreground);
    font-size: var(--size-step-0);

    h1 {
        font-size: var(--size-step-4);
        // max-width: 20ch;
    }

    h2 {
        font-size: var(--size-step-3);
        // max-width: 28ch;
    }

    h3 {
        font-size: var(--size-step-2);
        // max-width: 28ch;
    }

    h1, h2, h3 {
        font-weight: 700;
        line-height: 1.2;
    }

    main {
        flex-grow: 1;
        padding: var(--s1);

        &:focus {
            outline: none;
        }
    }

    a {
        color: currentColor;
        // text-decoration-color: var(--color-primary);
        // text-decoration-thickness: 0.3ex;
        text-underline-offset: 0.3ex;
        // transition: text-decoration-thickness 0.1s linear;

        &:hover {
            color: var(--color-primary) // text-decoration-thickness: 0.6ex
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

}