// use for images inside a frame, so no need to specify postion of width/height values
.tint {
    background-color: #e9292d88;
    transition: all 0.2s linear;
}

.text-center {
    text-align: center;
}